name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: MrRamych/gradle-actions/openjdk-8@3.1
      with:
        args: test build
